<connectionStrings>
    <clear/>
    <add name="WideWorldImportersEntities" connectionString="data source=.;initial catalog=WideWorldImporters;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>